<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div id="header">
    <!-- Logo -->
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" id="logo" />
    <!-- The rest of your content -->
  </div>
  <div id="welcomeScreen" class="screen">
    <h1>Welcome!</h1>
    <h2>Let's start learning.</h2>
    <button onclick="goToSelection('student')">I am a Student</button>
    <button onclick="goToSelection('educator')">I am an Educator</button>
  </div>

  <div id="selectionScreen" class="screen" style="display: none;">
    <h1>Select Your Preferences</h1>
    <!-- Selection form here... -->
    <label for="gradeLevel">Grade Level:</label>
    <select id="gradeLevel">
      <option value="">Select Grade</option>
      <option value="K">Kindergraden</option>
      <option value="1">1st</option>
      <option value="2">2nd</option>
      <option value="3">3rd</option>
      <option value="4">4th</option>
      <option value="9">9th</option>
      <option value="12">12th</option>
      <option value="College_Junior">College</option>
    </select>

    <label for="subject">Subject:</label>
    <select id="subject">
      <option value="">Select Subject</option>
      <option value="Science">Science</option>
      <option value="Social-science">Social Science</option>
      <option value="English">English</option>
    </select>

    <label for="difficultyLevel">Difficulty Level:</label>
    <select id="difficultyLevel">
      <option value="">Select Difficulty</option>
      <option value="Low">Low</option>
      <option value="Medium">Medium</option>
      <option value="Hard">Hard</option>
    </select>

    <button onclick="submitSelection()">Submit</button>
    <button onclick="goBack()">Back</button> <!-- Back button added here -->
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>